<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>[<%= parseInt(j) + 1 %>x<%= (parseInt(k) + 1) < 10 ? "0" + (parseInt(k) + 1) : (parseInt(k) + 1) %>] <%= data.Property[i].Name %> FiM - <%= data.Property[i].Property[j].Title[k] %></title>
    <% include style.ejs %>
  </head>
  <body>
    <div class="outter">
      <div class="inner">
        <div style="position: absolute; display: inline-block; margin-left: 30px; margin-top: 130px; float: left;">
          <div style="display: table; width: 200px; height: 100%;">
            <div style="display: table-cell;">
              <div style="display: inline-block;">
                <% var tk = parseInt(k) - 1;
                var tj = parseInt(j);
                var back = 1;
                if (tk < 0) {
                  if (tj == 0) back = 0;
                  else tk = data.Property[i].Property[--tj].Episodes - 1;
                }
                if (back) {
                  if (tk < 9) { %>
                    <div class="child child_<%= data.Property[i].Name %>_<%= data.Property[i].Property[tj].Name %> element" id="<%= data.Property[i].Name %>_child_<%= data.Property[i].Property[tj].Name %>_Ep<%= tk + 1 %>" onclick="window.location='/episode?ani=<%= i %>&s=<%= tj %>&e=<%= tk %>';" style="display: inline-block; background-image:url('.<%= data.Property[i].Episode_Cover %><%= tj + 1 %>x0<%= tk + 1 %>.png');background-color:#<%= data.Property[i].Property[tj].Season_Background %>;width:<%= data.Property[i].Property[tj].Season_Width[tk] %>px;height:<%= data.Property[i].Property[tj].Season_Height[tk] %>px;background-position: <%= data.Property[i].Property[tj].Episode_X[tk] %>% <%= data.Property[i].Property[tj].Episode_Y[tk] %>%;background-size: <%= data.Property[i].Property[tj].Episode_Zoom[tk] %>%;"><div class="text" style="width:<%= data.Property[i].Property[tj].Season_Width[tk] %>px;height:<%= data.Property[i].Property[tj].Season_Height[tk] %>px;"><%= data.Property[i].Property[tj].Title[tk] %></div></div>
                  <% } else { %>
                    <div class="child child_<%= data.Property[i].Name %>_<%= data.Property[i].Property[tj].Name %> element" id="<%= data.Property[i].Name %>_child_<%= data.Property[i].Property[tj].Name %>_Ep<%= tk + 1 %>" onclick="window.location='/episode?ani=<%= i %>&s=<%= tj %>&e=<%= tk %>';" style="display: inline-block; background-image:url('.<%= data.Property[i].Episode_Cover %><%= tj + 1 %>x<%= tk + 1 %>.png');background-color:#<%= data.Property[i].Property[tj].Season_Background %>;width:<%= data.Property[i].Property[tj].Season_Width[k] %>px;height:<%= data.Property[i].Property[tj].Season_Height[tk] %>px;background-position: <%= data.Property[i].Property[tj].Episode_X[tk] %>% <%= data.Property[i].Property[tj].Episode_Y[tk] %>%;background-size: <%= data.Property[i].Property[tj].Episode_Zoom[tk] %>%;"><div class="text" style="width:<%= data.Property[i].Property[tj].Season_Width[tk] %>px;height:<%= data.Property[i].Property[tj].Season_Height[tk] %>px;"><%= data.Property[i].Property[tj].Title[tk] %></div></div>
                  <% }} %>
                </div></div></div></div>
                <div style="position: absolute; display: inline-block; margin-left: 830px; margin-top: 130px; float: left;">
                  <div style="display: table; width: 200px; height: 100%;">
                    <div style="display: table-cell;">
                      <div style="display: inline-block;">
                        <% var rtk = parseInt(k) + 1;
                        var rtj = parseInt(j);
                        var back = 1;
                        if (rtk > data.Property[i].Property[rtj].Episodes - 1) {
                          if (rtj > data.Property[i].Seasons - 2) back = 0;
                          else rtk = 0, rtj++;
                        }
                        if (back) {
                          if (rtk < 9) { %>
                            <div class="child child_<%= data.Property[i].Name %>_<%= data.Property[i].Property[rtj].Name %> element" id="<%= data.Property[i].Name %>_child_<%= data.Property[i].Property[rtj].Name %>_Ep<%= rtk + 1 %>" onclick="window.location='/episode?ani=<%= i %>&s=<%= rtj %>&e=<%= rtk %>';" style="display: inline-block; background-image:url('.<%= data.Property[i].Episode_Cover %><%= rtj + 1 %>x0<%= rtk + 1 %>.png');background-color:#<%= data.Property[i].Property[rtj].Season_Background %>;width:<%= data.Property[i].Property[rtj].Season_Width[rtk] %>px;height:<%= data.Property[i].Property[rtj].Season_Height[rtk] %>px;background-position: <%= data.Property[i].Property[rtj].Episode_X[rtk] %>% <%= data.Property[i].Property[rtj].Episode_Y[rtk] %>%;background-size: <%= data.Property[i].Property[rtj].Episode_Zoom[rtk] %>%;"><div class="text" style="width:<%= data.Property[i].Property[rtj].Season_Width[rtk] %>px;height:<%= data.Property[i].Property[rtj].Season_Height[rtk] %>px;"><%= data.Property[i].Property[rtj].Title[rtk] %></div></div>
                          <% } else { %>
                            <div class="child child_<%= data.Property[i].Name %>_<%= data.Property[i].Property[rtj].Name %> element" id="<%= data.Property[i].Name %>_child_<%= data.Property[i].Property[rtj].Name %>_Ep<%= rtk + 1 %>" onclick="window.location='/episode?ani=<%= i %>&s=<%= rtj %>&e=<%= rtk %>';" style="display: inline-block; background-image:url('.<%= data.Property[i].Episode_Cover %><%= rtj + 1 %>x<%= rtk + 1 %>.png');background-color:#<%= data.Property[i].Property[rtj].Season_Background %>;width:<%= data.Property[i].Property[rtj].Season_Width[k] %>px;height:<%= data.Property[i].Property[rtj].Season_Height[rtk] %>px;background-position: <%= data.Property[i].Property[rtj].Episode_X[rtk] %>% <%= data.Property[i].Property[rtj].Episode_Y[rtk] %>%;background-size: <%= data.Property[i].Property[rtj].Episode_Zoom[rtk] %>%;"><div class="text" style="width:<%= data.Property[i].Property[rtj].Season_Width[rtk] %>px;height:<%= data.Property[i].Property[rtj].Season_Height[rtk] %>px;"><%= data.Property[i].Property[rtj].Title[rtk] %></div></div>
                          <% }} %>
                        </div></div></div></div>
        <div class="container">
          <div class="inside_outter">
            <div class="inner" style="padding-bottom: 0px;">
              <div class="child <%= data.Property[i].Name %>_child_<%= data.Property[i].Property[j].Name %>_Ep<%= parseInt(k) + 1 %>_cover iframe_cover" id="<%= data.Property[i].Name %>_child_<%= data.Property[i].Property[j].Name %>_Ep<%= parseInt(k) + 1 %>_cover">
              <% if (data.Property[i].Property[j].Uri[k].length > 0) { %>
              <iframe class="child <%= data.Property[i].Name %>_child_<%= data.Property[i].Property[j].Name %>_Ep<%= parseInt(k) + 1 %>_iframe iframe" id="<%= data.Property[i].Name %>_child_<%= data.Property[i].Property[j].Name %>_Ep<%= parseInt(k) + 1 %>_iframe" src="<%= data.Property[i].Property[j].Uri[k] %>?t=<%= t %>" allowfullscreen="true"></iframe></div>
              <% } else { %>
              <label style="color: black;">Internal Server Error</label>
              <% } %>
              <div class="footer_table">
                <div class="footer_hover">
                  <div class="footer" onclick="window.location='/season?ani=<%= i %>&s=<%= j %>';">Back</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
