<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>WHATOON</title>
    <% include style.ejs %>
  </head>
  <body>
    <div class="outter">
      <div class="inner">
        <div class="container">
          <div class="inside_outter">
            <div class="inner" style="padding-bottom: 0px;">
              <% for (var i = 0; i < Count; i++) { %>
              <div class="parent element" id='<%= Property[i].Name %>' onclick="Clicked(this.id);"><div class="text"><%= Title[i] %></div></div>
              <% for (var j = 0; j < Property[i].Seasons; j++) { %>
              <div class="child child_<%= Property[i].Name %> element" id="<%= Property[i].Name %>_<%= Property[i].Property[j].Name %>" onclick="Clicked(this.id)" style="background-image:url('<%= Property[i].Season_Cover %><%= j + 1 %>.png');background-color:#<%= Property[i].Property[j].Season_Background %>;background-position:<%= Property[i].Property[j].Season_X %>% <%= Property[i].Property[j].Season_Y %>%;"><div class="text"><%= Property[i].Title[j] %></div></div>
              <% for (var k = 0; k < Property[i].Property[j].Episodes; k++) { %>
              <% if (k < 9) { %>
              <div class="child child_<%= Property[i].Name %>_<%= Property[i].Property[j].Name %> element" id="<%= Property[i].Name %>_child_<%= Property[i].Property[j].Name %>_Ep<%= k + 1 %>" onclick="ShowAnimate(this.id)" style="background-image:url(<%= Property[i].Episode_Cover %><%= j + 1 %>x0<%= k + 1 %>.png);background-color:#<%= Property[i].Property[j].Season_Background %>;width:<%= Property[i].Property[j].Season_Width[k] %>px;height:<%= Property[i].Property[j].Season_Height[k] %>px;"><div class="text" style="width:<%= Property[i].Property[j].Season_Width[k] %>px;height:<%= Property[i].Property[j].Season_Height[k] %>px;"><%= Property[i].Property[j].Title[k] %></div></div>
              <% } else { %>
              <div class="child child_<%= Property[i].Name %>_<%= Property[i].Property[j].Name %> element" id="<%= Property[i].Name %>_child_<%= Property[i].Property[j].Name %>_Ep<%= k + 1 %>" onclick="ShowAnimate(this.id)" style="background-image:url(<%= Property[i].Episode_Cover %><%= j + 1 %>x<%= k + 1 %>.png);background-color:#<%= Property[i].Property[j].Season_Background %>;width:<%= Property[i].Property[j].Season_Width[k] %>px;height:<%= Property[i].Property[j].Season_Height[k] %>px;"><div class="text" style="width:<%= Property[i].Property[j].Season_Width[k] %>px;height:<%= Property[i].Property[j].Season_Height[k] %>px;"><%= Property[i].Property[j].Title[k] %></div></div>
              <% } %>
              <div class="child <%= Property[i].Name %>_child_<%= Property[i].Property[j].Name %>_Ep<%= k + 1 %>_cover iframe_cover" id="<%= Property[i].Name %>_child_<%= Property[i].Property[j].Name %>_Ep<%= k + 1 %>_cover">
              <iframe class="child <%= Property[i].Name %>_child_<%= Property[i].Property[j].Name %>_Ep<%= k + 1 %>_iframe iframe" id="<%= Property[i].Name %>_child_<%= Property[i].Property[j].Name %>_Ep<%= k + 1 %>_iframe" src="<%= Property[i].Property[j].Uri[k] %>" allowfullscreen="true"></iframe></div>
              <% }}} %>
              <div class="footer_table">
                <div class="footer_hover">
                  <div class="footer" onclick="DelAll()">Home</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include script.ejs %>
  </body>
</html>
