<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>WHATOON</title>
    <% include style.ejs %>
  </head>
  <body>
    <div class="outter">
      <div class="inner">
        <div class="container">
          <div class="inside_outter">
            <div class="inner" style="padding-bottom: 0px;">
              <% var gradienttmp; %>
              <% gradienttmp = "linear-gradient(80deg, #" + data.Property[i].Cover_Background[data.Property[i].Songs[k].R1_Lead[0] - 1] + " 0%, "; %>
              <% for (var l = 1; l < data.Property[i].Songs[k].R1_Lead_Num; l++) { %>
                <% gradienttmp = gradienttmp + "#" + data.Property[i].Cover_Background[data.Property[i].Songs[k].R1_Lead[l - 1] - 1] + " " + ((100.0 / data.Property[i].Songs[k].R1_Lead_Num * l) - .25) + "%, #" + data.Property[i].Cover_Background[data.Property[i].Songs[k].R1_Lead[l] - 1] + " " + ((100.0 / data.Property[i].Songs[k].R1_Lead_Num * l) + .25) + "%, "; %>
              <% } %>
              <% gradienttmp = gradienttmp + "#" + data.Property[i].Cover_Background[data.Property[i].Songs[k].R1_Lead[data.Property[i].Songs[k].R1_Lead_Num - 1] - 1] + " 100%);"; %>
              <div class="song" style="background: <%= gradienttmp %>", onclick="window.location='/episode?ani=<%= i %>&s=<%= data.Property[i].Songs[k].Season - 1 %>&e=<%= data.Property[i].Songs[k].Episode - 1 %>&t=<%= data.Property[i].Songs[k].R1_Start_min * 60 + data.Property[i].Songs[k].R1_Start_sec %>'"><span class="inside_song"><%= data.Property[i].Songs[k].Title %><br /><%= data.Property[i].Songs[k].R1_Length %></span></div><br />
              <% gradienttmp = "linear-gradient(80deg, #" + data.Property[i].Cover_Background[data.Property[i].Songs[k].R2_Lead[0] - 1] + " 0%, "; %>
              <% for (var l = 1; l < data.Property[i].Songs[k].R2_Lead_Num; l++) { %>
                <% gradienttmp = gradienttmp + "#" + data.Property[i].Cover_Background[data.Property[i].Songs[k].R2_Lead[l - 1] - 1] + " " + ((100.0 / data.Property[i].Songs[k].R2_Lead_Num * l) - .25) + "%, #" + data.Property[i].Cover_Background[data.Property[i].Songs[k].R2_Lead[l] - 1] + " " + ((100.0 / data.Property[i].Songs[k].R2_Lead_Num * l) + .25) + "%, "; %>
              <% } %>
              <% gradienttmp = gradienttmp + "#" + data.Property[i].Cover_Background[data.Property[i].Songs[k].R2_Lead[data.Property[i].Songs[k].R2_Lead_Num - 1] - 1] + " 100%);"; %>
              <div class="song" style="background: <%= gradienttmp %>", onclick="window.location='/episode?ani=<%= i %>&s=<%= data.Property[i].Songs[k].Season - 1 %>&e=<%= data.Property[i].Songs[k].Episode - 1 %>&t=<%= data.Property[i].Songs[k].R2_Start_min * 60 + data.Property[i].Songs[k].R2_Start_sec %>'"><span class="inside_song"><%= data.Property[i].Songs[k].Title + " (reprise)" %><br /><%= data.Property[i].Songs[k].R2_Length %></span></div>
              <div class="footer_table">
                <div class="footer_hover">
                  <div class="footer" onclick="window.location='/song?ani=<%= i %>';">Back</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
