<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>WHATOON</title>
    <% include style.ejs %>
  </head>
  <body>
    <div class="outter">
      <div class="inner">
        <div class="container">
          <div class="inside_outter">
            <div class="inner" style="padding-bottom: 0px;">
              <% var gradienttmp; %>
              <% for (var k = 0; k < data.Property[i].Songs_Num; k++) { %>
              <% if (data.Property[i].Songs[k].Reprise == 0) { %><div class="song" style="background-image:url('<%= data.Property[i].Episode_Cover %><%= data.Property[i].Songs[k].Season %>x<%= data.Property[i].Songs[k].Episode < 10 ? 0 + [] + data.Property[i].Songs[k].Episode : data.Property[i].Songs[k].Episode %>.png');background-color:#<%= data.Property[i].Property[data.Property[i].Songs[k].Season - 1].Season_Background %>", onclick="window.location='/episode?ani=<%= i %>&s=<%= data.Property[i].Songs[k].Season - 1 %>&e=<%= data.Property[i].Songs[k].Episode - 1 %>&t=<%= data.Property[i].Songs[k].Start_min * 60 + data.Property[i].Songs[k].Start_sec %>'"><span class="inside_song"><%= data.Property[i].Songs[k].Title %><br /><%= data.Property[i].Songs[k].Length %></span></div><br />
              <% } else { %><div class="song" style="background-image:url('<%= data.Property[i].Episode_Cover %><%= data.Property[i].Songs[k].Season %>x<%= data.Property[i].Songs[k].Episode < 10 ? 0 + [] + data.Property[i].Songs[k].Episode : data.Property[i].Songs[k].Episode %>.png');background: <%= gradienttmp %>", onclick="window.location='/reprise?ani=<%= i %>&k=<%= k %>'"><span class="inside_song"><%= data.Property[i].Songs[k].Title %><br /><%= data.Property[i].Songs[k].R1_Length + ", " + data.Property[i].Songs[k].R2_Length %></span></div><br />
              <% }} %>
              <div class="footer_table">
                <div class="footer_hover">
                  <div class="footer" onclick="window.location='/ani?ani=<%= i %>';">Back</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
